<app-header></app-header>

<div class="video-container">
  <h2 class="tituloVideo">{{ video.titulo }}</h2>

  <video class="reproductor" controls>
    <source [src]="video.link">
  </video>

 <div class="canalynombre">
    <img class="fotodeperfil" src="../../../assets/images/logo.png" alt="Logo de blitzvideo" srcset="">
    <p>{{ video.canal.nombre }}</p>
 </div>
  <div class="descripcion">
    <p class="fechadescripcion">Fecha de subida: {{ video.created_at}}</p>
    <p>Descripción:</p>
    <p>{{ video.descripcion }}</p>
  </div>
</div>
