.reproductor, .tituloVideo, .descripcion, .canalynombre, .comentarios-container {
    margin-left: 10vh;
}
.canalynombre {
    margin-top: 5px;

    font-family: Roboto-Bold;
    display: flex;
    align-items: center; 
}

.video-container {
    margin-top: 30px;
}

.reproductor {
    width: 1000px;
}

.descripcion {
    margin-top: 20px;

    background-color:#d9d9d9;
    border-radius: 10px;
    width: 1000px;

}


.fechadescripcion {
    font-family: Roboto-Bold;


}

.fotodeperfil {
    height: 60px;
  }
 
  
.canalynombre p {
    margin-top:20px;

}  

.fotoInput {
    width: 80px;
    border-radius: 100px;

}

.comentarios-container {
    margin-top: 20px; 
  }
  
  .comentarista {
    display: flex;
    flex-direction: column;
  }
  
  .inputyenvio {
    display: flex;
    align-items: center; 
    width: 1000px; 
    margin-top: 10px; 
  }
  
  
  .inputyenvio img.fotoInput {
    margin-right: 10px; 
  }
  
  .inputyenvio input[type="text"] {
    width:960px;
    height:50px;
    background-color: #d9d9d9;
    border: 0;

  }
  
  .inputyenvio button {
    margin-top: 90px;
    margin-right: 100px;
  }
 
.enviarComentario {
    margin-top: 10px;
    width:5%;
    height:35px;
    margin-left: 910px; 
    background-color: #076dc8;
  }

  .comentado {
    display: flex;
    
  }
  
  .fotocomentador {
    width: 50px;
    border-radius: 100px;

  }