.reproductor, .tituloVideo, .descripcion, .canalynombre, .comentarios-container {
    margin-left: 10vh;
}

.puntuar {
  margin-left: 100vh;

}
.visitas {
  margin-left: 75vh;
  font-family: Roboto;
}

.canalynombre {
    margin-top: 5px;
    font-family: Roboto-Bold;
    display: flex;
    align-items: center; 
}


.nombreCanal {
    margin-left: 110px;
}


.video-container {
    margin-top: 30px;
}

.reproductor {
    width: 1000px;
}

.descripcion {
    z-index: 0;
    margin-top: -15px;
    background-color:#d9d9d9;
    border-radius: 10px;
    width: 1000px;
    position: absolute;

}


.fechadescripcion {
    font-family: Roboto-Bold;
}

.fotodeperfil {
    height: 90px;
    border-radius: 100px;
    z-index: 10;
    margin-top: 30px;
    margin-left:15px;
    position:absolute;

  }
 
  
.canalynombre p {
    margin-top:20px;

}  

.fotoInput {
    width: 80px;
    border-radius: 100px;

}

.comentarios-container {
    margin-top: 20px; 
  }
  
  .comentarista {
    display: flex;
    flex-direction: column;
  }
  
  .inputyenvio {
    display: flex;
    align-items: center; 
    width: 1000px; 
    margin-top: 170px; 
  }
  
  
  .inputyenvio img.fotoInput {
    margin-right: 10px; 
  }
  
  .inputyenvio input[type="text"] {
    width:960px;
    height:50px;
    background-color: #d9d9d9;
    border: 0;

  }
  
  .inputyenvio button {
    margin-top: 90px;
    margin-right: 100px;
  }
 
.enviarComentario {
    margin-top: 10px;
    width:5%;
    height:35px;
    margin-left: 910px; 
     background-color: #076dc8;
    color: white;
  }

  .botonResponder {
    background-color: #076dc8;
    color:white;
  }

  .respondido {
    display:  flex;
  }

  .comentado{
    display: flex;
     
  }
  
  .fotocomentador {
    width: 50px;
    border-radius: 100px ;

  }

  .fotoRespuesta  {
    width:  45px;
    border-radius: 100px;

  }

.comentario{
  margin-bottom: 30px;
}

.respuesta {
  margin-bottom:10px;
  margin-top:10px

}