a {
  text-decoration: none;
  color: black;
}



.containerHome {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
}

.content-wrapper {
  width: 100%;
}

.duracionVideo {
  color: white;

  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 8px;
  border-radius: 5px;
}

.stream-grid,
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  margin: 40px 40px;
  box-sizing: border-box;
  max-width: 95%;
}

.stream-grid h2,
.video-grid h2 {
  grid-column: 1 / -1;
  margin: 0 0 20px;
  font-size: 24px;
  color: #333;
}

.stream-grid p,
.video-grid p {
  grid-column: 1 / -1;
  text-align: center;
  color: #666;
  font-size: 16px;
}

.stream-card,
.video-card {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%; 
  position: relative; 
  transition: transform 0.3s ease; 
}

.stream-link,
.video-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.miniatura-container {

  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
}

.miniatura {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.miniatura-container p {
  color: white;

  position: absolute;
  bottom: 0px;
  right: 15px;
}

.live-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e91916;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.stream-card:hover .miniatura,
.video-card:hover .miniatura {
  transform: scale(1.1);
}

.stream-info,
.video-info {
  padding: 10px;
  flex-grow: 1;
}

.stream-info h3,
.video-info h3 {
  margin: 0 0 5px;
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.stream-info p,
.video-info p {
  margin: 0;
  color: #888;
  font-size: 14px;
  text-align: left;

}

.canalNombre {
  font-size: 1em;
  color: #4b4b4b;
  display: flex;
  align-items: center;
  gap: 10px;
}

.canal-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}

.canal-link:hover {
  text-decoration: none;
}

.canalesSuscritos {
  color: #4b4b4b;
  display: flex;
}

.nombreYEstado {
  gap: 6px;
  font-weight: bold;
}

.fotoUser {
  border-radius: 25px;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  object-fit: cover;
}

.fotoUserDefault {
  border-radius: 25px;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  object-fit: cover;
}

.lineadivisoria {
  border-top: 1px solid black;


}

hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 10px 0;
}

.lineaSideBar {
  border: 0;
  border-top: 1px solid #000000;
}





.containerHome {
  display: flex;
  overflow: hidden;
  margin-top: 75px;
}

.sidebar-container {
  width: 250px;
  transition: width 0.3s ease;
  overflow: hidden;
  flex-shrink: 0;
  position: fixed; 
  top: 75px;      
  left: 0;
  bottom: 0;
}

.containerHome.collapsed .sidebar-container {
  width: 55px;
  border-right: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease; 
  margin-left: 250px; 
}

.containerHome.collapsed .content-wrapper {
  margin-left: 55px;
}


@media (max-width: 1200px) {
  .stream-grid,
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .stream-grid,
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .stream-grid,
  .video-grid {
    grid-template-columns: 1fr;
    margin-left: 20px;
  }

  .sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }

  .sidebar a {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    margin: 0;
  }
}