

.search-results {
    width: 100%;
    margin-top: 20px;
}

.container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h2 {
    padding: 0 20px;


}

.no-results {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

.no-results p {
    font-size: 18px;
    color: #606060;
}

.results-container {
    width: 100%;
}

.video-search-result {
    display: grid;
    grid-template-columns: 480px 1fr;
    background-color: #fff;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit; 
}

.video-search-result a {
    display: grid;
    grid-template-columns: 480px 1fr;
    text-decoration: none; 
    color: inherit; 
}



.thumbnail {
    width: 480px;
    height: 270px;
    object-fit: cover; 
}

.video-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.description {
    color: #606060;
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #606060;
}

.channel {
    font-weight: bold;
    margin-bottom: 2px;
}

.views {
    margin-bottom: 5px;
}

.date {
    color: #a0a0a0;
}

.fotoycanal {
    display: flex;
    gap:5px;
    align-items: center;

}
.miniatura-container p  {
    position:absolute;
    bottom: 0px;
    right: 15px;
    
  }
  .miniatura-container {
    width: 100%; 
    height: auto; 
    aspect-ratio: 16 / 9; 
    overflow: hidden;
    position: relative;
  }
  

.duracionVideo {
    background-color: #000000;
    color:white;
    opacity: 0.5;
    padding: 5px 8px;
    border-radius: 5px;

  }


.fotoCanal {
    width: 30px;
    height: 30px;

  min-height:  30px;
  min-width:  30px;
    border-radius: 50%;
    object-fit: cover;
}



@media (max-width: 800px) {
    .video-search-result {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .thumbnail {
        width: 100%;
        height: auto;
    }

    .video-info {
        padding: 15px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }
}
