<app-header></app-header>
<div [ngStyle]="{'--profile-banner': 'url(' + canal.portada + ')'}">
<header>
  
  <div class="profile" >
    <img *ngIf="!usuario.foto" src="assets/images/user.png" alt="Foto de perfil" class="profile-pic">
    <img *ngIf="usuario.foto" [src]="usuario.foto" alt="Foto de perfil" class="profile-pic">
    <div class="profile-info">
      <h1>{{ canalNombre }}</h1>
    </div>
  </div>
</header>
<nav>
  <ul>
    <li><a [routerLink]="['/canal', canalId]">Inicio</a></li>
    <li><a [routerLink]="['/canal', canalId, 'videos']">Videos</a></li>
  </ul>
</nav>
</div>
<main>
  <section class="ultimo-video" *ngIf="ultimoVideo">
    <h2>Último Video Subido</h2>
    <div class="ultimo-video-card">
      <a [routerLink]="['/video', ultimoVideo.id]">
        <img [src]="ultimoVideo.miniatura" alt="{{ultimoVideo.titulo}}" class="ultimo-video-miniatura">
        <div class="ultimo-video-info">
          <h3>{{ ultimoVideo.titulo }}</h3>
          <p>{{ ultimoVideo.visitas_count }} vistas • {{ ultimoVideo.created_at | date:'short' }}</p>
        </div>
      </a>
    </div>
  </section>
  <section class="video-grid">
    <div *ngFor="let chunk of videos | chunkPipe: 4" class="video-row">
      <div *ngFor="let video of chunk" class="video-card">
        <a [routerLink]="['/video', video.id]">
          <img [src]="video.miniatura" alt="Miniatura del video">
          <div class="video-info">
            <h3>{{ video.titulo }}</h3>
            <p>{{ video.visitas_count }} vistas • {{ video.created_at | date:'short' }}</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</main>
