.chat-container {
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 1234px; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 700px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chat-container h3 {
  margin: 0 0 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
}


.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  max-width: 100%;
  word-wrap: break-word;
}

.chat-user-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.chat-message .chat-text {
  background-color: #f5f5f5;
  color: #333;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  max-width: 300px;
  position: relative;
  transition: background 0.3s ease;
}


.chat-message .chat-text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}


.chat-message.my-message .chat-text::after {
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 6px solid #e1f0ff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.chat-user {
  font-weight: 600;
  font-size: 13px;
  color: #333;
}


.chat-message small {
  font-size: 10px;
  color: #999;
  margin-left: auto;
  align-self: flex-end;
}

.chat-input input {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  width: 100%;
}

.chat-input input::placeholder {
  color: #aaa;
}

.chat-input button {
  display: flex;
  align-items: end;
  padding: 10px 16px;
  border: none;
  background-color: #042234;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}



.chat-input button:hover {
  background-color: #0b7cff;
  transform: scale(1.05);
}

.chat-input button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #042234;;
  border-radius: 8px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #0b7cff;
}
