<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh; flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
          
          <div class="formbg-outer">
            <div class="formbg">
              <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1 class="logoylogin">
                  <img class="logo" src="assets/images/logo.png" alt="">
                </h1>
              </div>
              <div class="box-root padding-bottom--24 flex-flex flex-justifyContent--center">
                <h2>Registro</h2>
              </div>
              <div class="formbg-inner padding-horizontal--48">
                <form #dataform="ngForm" (ngSubmit)="onSubmit(dataform)">
                  <div class="field padding-bottom--24 alineado">
                    <input type="text" placeholder="Nombre" name="name" ngModel>
                  </div>
                  <div class="field padding-bottom--24 alineado">
                    <input type="email" placeholder="Correo electronico" name="email" ngModel>
                  </div>
                  <div class="field padding-bottom--24 alineado">
                    <input type="password" placeholder="Contraseña" name="password" ngModel>
                  </div>
                  <div class="field padding-bottom--24 alineado">
                    <input type="password" placeholder="Confirmar contraseña" name="password_confirmation" ngModel>
                  </div>
                  <div class="field padding-bottom--24">
                    <div *ngIf="sinCredenciales" class="error">
                      Por favor, completa todos los campos.
                    </div>
                    <div *ngIf="passwordSinCoincidir" class="error">
                      Las contraseñas no coinciden.
                    </div>
                    <div *ngIf="usuarioYaExiste" class="error">
                      Ya existe un usuario con ese email.
                    </div>
                    <div class="field padding-bottom--24">
                      <button class="boton" type="submit">Registrarse</button>
                    </div>
                  </div>
                 
                  <span style="letter-spacing: 0.2px"></span>
                  ¿Ya tienes una cuenta? <a routerLink="/login">Haz click aquí</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  