.reproductor {
  width: 100%;
  max-width: 1234px;
  aspect-ratio: 16 / 9;
  position: relative;
  transition: all 0.3s ease;
}

.reproductor.cinema-mode {
  width: 100%; 
  max-width: none; 
  height: auto;
  background: black; 
  display: block;
  position: relative;

}

.reproductor-video-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: black !important; 
}

.video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.reproductor-video-container:hover .controls {
  opacity: 1;
}

span {
  color: white;
}

button, input[type="range"] {
  background: none;
  border: none;
  color: white;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button i {
  font-size: 20px;
}

input[type="range"] {
  flex-grow: 1;
  margin: 0 10px;
}

input.volume {
  width: 100px;
  flex-grow: 0;
}
