.containerHome {
  display: flex;
  min-height: 100vh;
  margin-top: 75px;
}

.containerHome {
  display: flex;
  min-height: 100vh;
  margin-top: 75px;
}

.sidebar-container {
  width: 250px;
  transition: width 0.3s ease;
  overflow: hidden;
  flex-shrink: 0;
  position: fixed;
  top: 75px;      
  bottom: 0;
  left: 0;
  background-color: #f8f8f8;
  z-index: 100;
}

.containerHome.collapsed .sidebar-container {
  width: 55px;
  border-right: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  margin-left: 250px; 
}

.containerHome.collapsed .main-content {
  margin-left: 55px; 
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  justify-content: center;
  margin: 40px auto;
  max-width: 95%;
}

.video-card {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  display: flex;
  
  flex-direction: column;
}

.video-card a {
  text-decoration: none;


}

.video-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.miniatura-container {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;

}

.miniatura {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.video-card:hover .miniatura {
  transform: scale(1.05);
}

.video-info {
  padding: 10px;
  text-decoration: none;
}

.video-info h3 {
  font-size: 15px;
  font-weight: 500;
  color: #111;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-info p {
  margin: 4px 0 0;
  font-size: 13px;
  color: #606060;
}

.playlist-actions {
  position: absolute;
  top: 8px;
  right: 8px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.menu-button:hover {
  color: #007BFF;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 1000;
}

.playlist-actions:hover .menu-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-dropdown button {
  padding: 10px 14px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  text-align: left;
}

.menu-dropdown button:hover {
  background-color: #f0f0f0;
}

.playlist h1 {
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
}
