<app-header></app-header>
<div class="containerHome">
  <app-sidebar 
  [status]="status"
  [usuarioConCanal]="usuarioConCanal"
  [idCanal]="idCanal"
  [canales]="canales"
  ></app-sidebar>


<div class="playlist">
  <h1>Listas de reproduccion</h1>

  <div class="video-grid">
    <div class="video-card" *ngFor="let lista of listas;  let i = index">
      
      <a [routerLink]="['/playlists', lista.id]" class="video-link">
        
        <div class="miniatura-container">
          <img class="miniatura" [src]="lista.imagen" alt="Miniatura de la lista">
        </div>
        <div class="video-info">
          <h3>{{ lista.nombre }}</h3>
          
        </div>
        
        <hr>
        
      </a>
      <div class="playlist-actions">
        <button class="menu-button" (click)="toggleMenu(i)">⋮</button>
        <div *ngIf="showMenuIndex === i" class="menu-dropdown">
          <button (click)="abrirModalEditar(lista)">Editar</button>
          <button (click)="borrarPlaylist(lista.id)">Eliminar</button>
        </div>
      </div>
    </div>

  </div>
</div>

</div>