<div class="sidebar">
  <a href="#"><i class="fa-solid fa-house"></i> Inicio</a>

  <ng-container *ngIf="status.isLoggedIn">
    <a *ngIf="usuarioConCanal && usuarioConCanal.canales && usuarioConCanal.canales.id" [routerLink]="['/canal', idCanal]">
      <i class="fa-regular fa-user"></i> Mi canal
    </a>
    <a href="/playlists"><i class="fa-solid fa-list"></i> Listas de reproducción</a>
    <hr class="lineaSideBar">

    <p>Suscripciones</p>
    <div class="canalesSuscritos">
      <ng-container *ngIf="!isLoading; else loadingTemplate">
        <ng-container *ngIf="canales.length > 0; else noSubscriptions">
          <a *ngFor="let canal of canales" class="canalItem" [routerLink]="['/canal', canal.id]">
            <img
              class="fotoUserSuscriptores"
              [src]="canal.user?.foto ? canal.user.foto : '/assets/images/user.png'"
              alt="Foto del canal"
            />
            <span class="nombreYEstado">
              {{ canal.nombre }}
              <span
                *ngIf="canal.canal_online"
                class="enVivo"
                title="En directo"
              >🔴</span>
            </span>
          </a>
        </ng-container>
        <ng-template #noSubscriptions>
          <p>No estás suscrito a ningún canal.</p>
        </ng-template>
      </ng-container>
      <ng-template #loadingTemplate>
        <p>Cargando suscripciones...</p>
      </ng-template>
    </div>
  </ng-container>

 
</div>