<div class="sidebar" [class.collapsed]="collapsed" > 
  <a routerLink="/" title="Inicio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <span *ngIf="!collapsed">Inicio</span>
  </a>

  <ng-container *ngIf="status.isLoggedIn">
    <a *ngIf="usuarioConCanal?.canales?.id" title="Mi canal" [routerLink]="['/canal', idCanal]" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="!collapsed">Mi canal</span>
    </a>
    <a routerLink="/playlists" title="Listas de reproducción" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span *ngIf="!collapsed">Listas de reproducción</span>
    </a>
    
    <hr class="lineaSideBar" />

    <p *ngIf="!collapsed">Suscripciones</p>
    <div class="canalesSuscritos">
      <ng-container *ngIf="!isLoading; else loadingTemplate">
        <ng-container *ngIf="canales.length > 0; else noSubscriptions">
          <a *ngFor="let canal of canales" class="canalItem" [title]="canal.nombre"  [routerLink]="['/canal', canal.id]" (click)="reloadPage($event)" routerLinkActive="active">
            <img
              class="fotoUserSuscriptores"
              [src]="canal.user?.foto || '/assets/images/user.png'"
              alt="Foto del canal"
            />
            <span class="nombreYEstado">
              {{ canal.nombre }}
              <span
                *ngIf="canal.canal_online"
                class="enVivo"
                title="En directo"
              >🔴</span>
            </span>
          </a>
        </ng-container>
        <ng-template  #noSubscriptions >
          <p>No estás suscrito a ningún canal.</p>
        </ng-template>
      </ng-container>
      <ng-template #loadingTemplate>
        <p>Cargando suscripciones...</p>
      </ng-template>
    </div>
  </ng-container>
</div>
