.containerConfig {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
  }

  .configuracion {

    display: flex;
    flex-direction: row;
    margin-top: 75px;
    
  }

  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #495057;
    min-width: 225px;
  
    margin-bottom: 10px;
    border-width: 0 0 1px;
    transition: background-color 0.3s;
  }

  .selected {
    background-color: #ddd;
  }

  .sidebar .selected:hover{
    background-color: #999999;

  }

  .sidebar a:hover {
    background-color: #ddd;
  }

  .sidebar {
    background-color: #fff  ;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 100vh;
    border-right: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position:fixed;
    padding: 15px;
  }
  


  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .header h2 {
    font-size: 24px;
    color: #343a40;
    margin: 0;
  }

  .form-container {
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #495057;
  }

  .form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
  }

  .btn-submit {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
  }

  .btn-submit:hover {
    background-color: #0056b3;
  }

  .alert-container {
    margin-top: 20px;
  }

  .alert {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
  }

  .photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 10px;
  }

  .channel-cover {
    width: 800px;
    height: 200px;
    object-fit:contain;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 10px;

  }

  .file-input {
    display: none;
  }

  .upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }

  .upload-button:hover {
    background-color: #0056b3;
  }

  .upload-button i {
    margin-right: 5px;
  }