<div mat-dialog-content>
  <h2>Reportar Comentario</h2>
  <form (ngSubmit)="enviarReporteComentario(reportForm.value)" #reportForm="ngForm">
    <label for="detalle">Detalle:</label>
    <br>
    <textarea id="detalle" name="detalle" ngModel required></textarea>
    
    <div>
      <label><input type="checkbox" name="lenguaje_ofensivo" ngModel> Lenguaje ofensivo</label><br>
      <label><input type="checkbox" name="spam" ngModel> Spam</label><br>
      <label><input type="checkbox" name="contenido_enganoso" ngModel> Contenido engañoso</label><br>
      <label><input type="checkbox" name="incitacion_al_odio" ngModel> Incitación al odio</label><br>
      <label><input type="checkbox" name="acoso" ngModel> Acoso</label><br>
      <label><input type="checkbox" name="contenido_sexual" ngModel> Contenido sexual</label><br>
      <label><input type="checkbox" name="otros" ngModel> Otros</label><br>
    </div><br>
    
    <button type="submit" [disabled]="reportForm.invalid">Enviar Reporte</button>
  </form>
</div>
