.modal {
    display: none; /* Por defecto, oculto */
    position: fixed; /* Mantener en posición fija */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde arriba y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 600px; /* Ancho máximo del modal */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  