.comentario {
  margin-top: 20px;
  margin-bottom: 35px;
  padding-left: 10px;
  position: relative;
  max-width: 1234px;
}

.megustas {
  display: flex;
  flex-direction: row;
}

.botonEnviar {

  background-color: #32b1f9;
    
  }
  


a {
  text-decoration: none;
}

.comentario-header {
  display: flex;
  align-items: flex-start; 
  position: relative; 
}

.fotoUsuario {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.comentario-info {
  margin-left: 10px;
  flex: 1;
}

.nombreyfecha {
  display: flex;
  gap: 10px;
  font-size: 14px; 
}

.date {
  color: #7a7a7a;
}

.edit-comentario-form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap:5px
}

.edit-comentario-form input {
  padding: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}
.menu-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1000;
}

.menu-dropdown button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
}

.menu-dropdown button:hover {
  background-color: #f0f0f0;
}


.comentario-footer {
  margin-top: 5px;
  margin-left: 50px;
}

.botonResponder {
  background-color: #0282e5;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center; 
}
.botonLike {
  margin-left: 10px;
  margin-bottom: 12px;

  background:none;
  border: none;
  cursor: pointer;
}

.liked {
  color: #007bff;
}

.botonLike:hover {
  color: #0056b3; 
}

.responderComentario {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.responderComentario input[type="text"] {
  width: calc(50% - 80px); 
  height: 40px;
  border: none; 
  padding-left: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, padding-bottom 0.3s ease, border-bottom 0.3s ease; 

}

.responderComentario button {
   border: none;
  outline: none;
  cursor: pointer;
}

.responderComentario input:focus {
  background-color: #fff; 
  padding-bottom: 12px; 
  border-bottom: 1px solid #0282e5;
  outline: none; 

}

.respuestas {
  margin-top: 10px;
  margin-left: 50px;

}
