<div class="comentarios-container">
  <form (ngSubmit)="crearComentario()">
    <div class="comentarista">
      <div class="inputyenvio">
        <img *ngIf="usuario?.foto" [src]="usuario?.foto" class="fotoInput" alt="Foto del usuario">
        <img *ngIf="!usuario?.foto" src="assets/images/user.png" class="fotoInput" alt="Foto del usuario">
        <div class="input-container">
        <input type="text" id="nuevoComentario" [(ngModel)]="nuevoComentario.mensaje" name="nuevoComentarioMensaje"
          placeholder="Escribe un comentario..." required>
        </div>
        <button class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </form>
  <br>
  <div id="comentarios">
      <app-contenido-de-comentarios
        *ngFor="let comentario of comentarios"
        [comentario]="comentario"
        [videoId]="videoId"
        [usuario]="usuario"
        (nuevoComentario)="traerComentarios()"
        (comentarioEliminado)="onComentarioEliminado($event)"
        (comentarioEditado)="onComentarioEditado($event)"
      ></app-contenido-de-comentarios>
  </div>
</div>