/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family:Roboto-Bold;
    src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
}

body {
    font-family: Roboto;

}

.sidebar-container {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .sidebar-container:not(.sidebar-hidden) {
    transform: translateX(0);
  }
  
  .containerHome {
    margin-left: 0;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar-container:not(.sidebar-hidden) ~ .containerHome {
    margin-left: 240px; /* mismo ancho que el sidebar */
  }