<app-header (toggleSidebar)="toggleSidebar()"></app-header>
<div class="containerHome" [class.collapsed]="sidebarCollapsed$ | async">
  <div class="sidebar-container">
    <app-sidebar 
    [collapsed]="!!(sidebarCollapsed$ | async)"

    ></app-sidebar>
  </div>

<div class="main-content">

  <div *ngIf="!playlist">
    <p>Cargando...</p>
  </div>
  <div class="playlist" *ngIf="playlist">
    <h1>{{ playlist.nombre }}</h1>
    <p>Acceso: {{ playlist.acceso ? 'Público' : 'Privado' }}</p>
  
    <div class="video-grid">
      <div class="video-card" *ngFor="let video of videos; let i = index">
        
        <a (click)="verVideo(video.id)" class="video-link">
          <div class="miniatura-container">
            <img class="miniatura" [src]="video.miniatura" (error)="onImageError($event)"  alt="Miniatura de {{ video.titulo }}">
          </div>
          <div class="video-info">
            <h3>{{ video.titulo }}</h3>
          </div>
        </a>
  
        <div class="playlist-actions">
          <button class="menu-button">⋮</button>
          <div class="menu-dropdown">
            <button (click)="quitarVideo(playlist.id, video.id)">Quitar Video</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  </div>