
a {
  text-decoration: none;
  color: black;
}

.containerHome {
  display: flex;
  flex-direction: row;

}



.sidebar {
  background-color: #fff  ;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 100vh;
  border-right: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 15px;
}

.sidebar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #495057;
  min-width: 250px;

  margin-bottom: 10px;
  border-width: 0 0 1px;
  transition: background-color 0.3s;
}

p {
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  border-width: 0 0 1px;
  
}

.sidebar a:hover {
  background-color: #ddd;
}

.fotoUser {
  border-radius: 25px;
  height: 50px; 
  object-fit: cover;
}

.fotoUserSuscriptores {
  border-radius: 25px;
  height: 30px; 
  object-fit: cover;
}

.fotoUserDefault {
  border-radius: 25px;
  height: 50px;
  object-fit: cover;
}


.playlist {
    margin: 20px;
  }
  
  .playlist h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .video-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
  }
  
  .video-card img {
    width: 100%;
    height: auto;
  }
  
  .video-card .video-info {
    padding: 10px;
  }
  
  .video-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
  }
  
  .video-card p {
    margin: 0;
  }
  